@{
    ViewData["Title"] = "Thanh toán thành công";
}

<h2>Thanh toán thành công!</h2>
<p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>
<a href="@Url.Action("Index", "PhucVu")" class="btn btn-primary">Quay lại trang chủ</a>
