@model IEnumerable<Manage_Coffee.Models.Loai>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="SanPhams" asp-action="Sanpham1" asp-route-category="@item.Maloai"> @item.Ten </a>

        </li>
    }
</ul>
